onboarding {
  .content {
    background-color: color($colors, primary, base);

    h1 {
      font-family: "FugazOneRegular", sans-serif;
      font-size: 36px;
    }

    .slide-zoom > p {
      font-size: 18px;
    }

    .slide-zoom > h1, .slide-zoom > p {
      color: color($colors, light, base);
      padding: 20px;
    }

    .item {
      border-radius: 0;
    }

    button.btn-lets-go {
      position: fixed;
      bottom: 50px;
    }

    .swiper-pagination-bullet {
      opacity: .1;
    }

    .swiper-pagination-bullet-active {
      background: color($colors, light, base);
      opacity: 1;
    }
  }
}
