<ion-content>
  <ion-slides pager="true" ion-fixed>

    <ion-slide>
      <h1>Welcome</h1>
      <p><i>Welcome to Tourney.</i></p>
      <p>Go ahead and select the tournament you are playing in. Like the one below:</p>
      <button ion-item>
        <ion-thumbnail item-start>
          <img src="/assets/images/the-league-sports.jpg"/>
        </ion-thumbnail>
        <h2>3rd Annual Volleyboo</h2>
        <p>Serra Park | Sunnyvale</p>
        <p item-end>Sun, Oct 31, 2017</p>
      </button>
    </ion-slide>

    <ion-slide>
      <h1>Tap your team</h1>
      <p>Once you are in a tournament, tap on your team or the team you are rooting for.</p>
      <button ion-item color="light">
        <ion-icon item-start color="dark" name="clipboard"></ion-icon>
        <ion-label>Pool A</ion-label>
      </button>
      <button ion-item icon-end full>
        Your awesome Team
      </button>
      <button ion-item icon-end full>
        Your Opponent
      </button>
    </ion-slide>

    <ion-slide>
      <h1>Play</h1>
      <p>From here you can see your schedule and select as your team to quickly see your schedule in the main
        menu.</p>
      <ion-card ion-item no-lines class="shadow">
        <h2>Your Awesome Team</h2>
        <button ion-button color="primary" item-right>
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-card>
      <button ion-item color="light">
        <ion-icon item-start color="dark" name="clipboard"></ion-icon>
        <ion-label>Pool A</ion-label>
      </button>
      <button ion-item>
        <h3 ion-text>You <a ion-text color="primary">vs</a> Them</h3>
        <p ion-text>
          {{
          [(scheduledTime | date:'ha'),
          'Court A',
          'Reffing team'] | delim}}
        </p>
      </button>
      <button ion-button color="secondary" (click)="goToHome()" full class="btn-lets-go">Let's go</button>
    </ion-slide>

  </ion-slides>
</ion-content>
