login {
  background-color: color($colors, background, base);
  background-image: url('../assets/images/logo-purple.png');
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;

  .button {
    position: fixed;
    bottom: 10%;
  }
}
