<ion-tabs>
  <ion-tab [root]="tab1Root" [rootParams]="tabData" tabTitle="My Team" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="tabData" tabTitle="Pools" tabIcon="clipboard"></ion-tab>
</ion-tabs>
