<ion-header>
  <scoreboard-navbar [title]="'My Team'"></scoreboard-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reloadTeam($event)">
    <ion-refresher-content pullingIcon="ai-volleyball-outline"
                           pullingText="Set it up"
                           refreshingSpinner="crescent"
                           refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-card ion-item *ngIf="tournament" no-lines class="shadow">
    <ion-thumbnail item-start>
      <img src="{{tournament.image}}"/>
    </ion-thumbnail>
    <h2>{{ tournament.title }}</h2>
    <p *ngIf="tournament.location">{{tournament.location.name}} | {{tournament.location.city}}</p>
    <p>{{tournament.dates | dateRangeDisplay}}</p>
  </ion-card>
  <ion-card ion-item no-lines class="shadow" *ngIf="team | async as team">
    <h2>{{ team.title }}</h2>
    <p *ngIf="team.metadata && team.metadata.division">{{ [ team.metadata.division.gender + ' ' +
      team.metadata.division.level + ' Division',
      team.captain,
      team.results] | delim}}</p>
    <button *ngIf="team.isTeam; else elseBlock" (click)="removeTeam(team)" item-right>
      <ion-icon color="secondary" name="checkmark-circle"></ion-icon>
    </button>
    <ng-template #elseBlock>
      <button (click)="setTeam(team)" item-right>
        <ion-icon color="light" name="checkmark-circle-outline"></ion-icon>
      </button>
    </ng-template>
  </ion-card>
  <ion-list *ngIf="pool | async as pool">
    <button ion-item color="light" (click)="poolSelected(pool._id)">
      <ion-icon item-start color="medium" name="clipboard"></ion-icon>
      <ion-label>Pool {{pool.title}}</ion-label>
    </button>
    <button ion-item *ngFor="let match of pool.matches" (click)="matchSelected(match._id)">
      <h3 ion-text>{{match.teams[0].title}} <a ion-text color="primary">vs</a> {{match.teams[1].title}}</h3>
      <p ion-text>
        {{ [(match.scheduledTime | date:'ha'),
        (match.location ? 'Court ' + match.location.court : null),
        (match.refTeam ? match.refTeam.title : null)] | delim}}
      </p>
    </button>
  </ion-list>

  <team-not-found *ngIf="teamNotFound" (selectTeam)="selectTeam()"></team-not-found>

</ion-content>
