team-not-found {
  ion-icon {
    color: color($colors, medium, base);
    font-size: 160px;
    opacity: .5;
  }

  p {
    padding: 0 70px;
    text-align: center;
  }

  p:nth-last-of-type(1) {
    padding-bottom: 20px;
  }
}
