<div padding>
  <p>
    <ion-icon name="people" class=""></ion-icon>
  </p>

  <p>Select your team in this tournament for quick access to your schedule and results.</p>

  <button ion-button color="secondary" (click)="navigateToTournamentPage()" block>
    Select a team
  </button>
</div>
