<ion-header>
  <scoreboard-navbar [title]="'Teams'"></scoreboard-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="reloadTournament($event)">
    <ion-refresher-content pullingIcon="ai-volleyball-outline"
                           pullingText="Set it up"
                           refreshingSpinner="crescent"
                           refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-card ion-item *ngIf="tournament" no-lines class="shadow">
    <ion-thumbnail item-start>
      <img src="{{tournament.image}}"/>
    </ion-thumbnail>
    <h2>{{ tournament.title }}</h2>
    <p *ngIf="tournament.location">{{tournament.location.name}} | {{tournament.location.city}}</p>
    <p>{{tournament.dates | dateRangeDisplay}}</p>
  </ion-card>
  <ion-searchbar *ngIf="divisions" #searchbar
                 (ionInput)="onSearchInput($event)"
                 (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>
  <ion-list *ngIf="divisions">
    <ion-item-group *ngFor="let division of divisions">
      <ion-item-divider color="light" sticky>
        <ion-label>{{division.gender}}'s {{division.level}}</ion-label>
      </ion-item-divider>
      <ion-item-group *ngFor="let pool of division.pools">
        <button ion-item color="light" (click)="poolSelected(pool)">
          <ion-icon item-start color="medium" name="clipboard"></ion-icon>
          <ion-label color="medium-dark">Pool {{pool.title}}</ion-label>
        </button>
        <button ion-item icon-end block *ngFor="let team of pool.teams" (click)="teamSelected(team)">
          {{ team.title }}
          <ion-icon *ngIf="team._id === myTeam" item-end name="checkmark-circle" color="secondary"></ion-icon>
        </button>
      </ion-item-group>
    </ion-item-group>
  </ion-list>
</ion-content>
