<ion-header>
  <scoreboard-navbar [title]="'Match'"></scoreboard-navbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="match">
    <ion-col col-9>
      <ion-item-group>
        <ion-item no-lines>
          <ion-icon item-start color="dark" name="clipboard"></ion-icon>
          <h2 ion-text text-wrap *ngIf="match.teams">{{match.teams[0].title}} <a ion-text color="primary">vs</a>
            {{match.teams[1].title}}</h2>
          <p ion-text>
            {{
            [(match.scheduledTime | date:'ha'),
            (match.location ? 'Court ' + match.location.court : null),
            (match | get:'refTeam.title')] | delim}}
          </p>
        </ion-item>
      </ion-item-group>
    </ion-col>
    <ion-col col-3 align-self-center>
      <ion-item no-padding no-margin no-lines *ngIf="record">
        <h2 ion-text item-end color="primary">{{record}}</h2>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-list *ngIf="match && match.games">
    <ion-list-header no-margin color="light">Games</ion-list-header>
    <button ion-item
            *ngFor="let game of match.games index as i;"
            [disabled]="!game.isCurrent && !game.final"
            [ngClass]="{'button-current-game': game.isCurrent}"
            (click)="selectGame(game)">
      <h3 ion-text>Game {{i+1}}</h3>
      <p item-end *ngIf="gameScores[i]"><a *ngIf="game.final" color="danger">final </a>{{gameScores[i].score[0].points || 0}}
        - {{gameScores[i].score[1].points || 0}}</p>
    </button>
  </ion-list>
</ion-content>
