@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?zge7c9');
  src:  url('../assets/fonts/icomoon.eot?zge7c9#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?zge7c9') format('truetype'),
    url('../assets/fonts/icomoon.woff?zge7c9') format('woff'),
    url('../assets/fonts/icomoon.svg?zge7c9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(soccer-shoe, "\e900");
@include makeIcon(soccer-shoe-outline, "\e901");
@include makeIcon(sports-shoe, "\e902");
@include makeIcon(sports-shoe-outline, "\e903");
@include makeIcon(bowling-pin-ball, "\e904");
@include makeIcon(bowling-pin-ball-outline, "\e905");
@include makeIcon(shuttlecock, "\e906");
@include makeIcon(shuttlecock-outline, "\e907");
@include makeIcon(basketball-hoop, "\e908");
@include makeIcon(basketball-hoop-outline, "\e909");
@include makeIcon(tennis-racket, "\e90a");
@include makeIcon(tennis-racket-outline, "\e90b");
@include makeIcon(baseball-set, "\e90c");
@include makeIcon(baseball-set-outline, "\e90d");
@include makeIcon(soccer-court, "\e90e");
@include makeIcon(soccer-court-outline, "\e90f");
@include makeIcon(soccer-ball, "\e910");
@include makeIcon(soccer-ball-outline, "\e911");
@include makeIcon(billiard-ball, "\e912");
@include makeIcon(billiard-ball-outline, "\e913");
@include makeIcon(tennis-ball, "\e914");
@include makeIcon(tennis-ball-outline, "\e915");
@include makeIcon(tennis-ball3, "\e916");
@include makeIcon(tennis-ball4, "\e917");
@include makeIcon(bowling-ball, "\e918");
@include makeIcon(bowling-ball-outline, "\e919");
@include makeIcon(basketball, "\e91a");
@include makeIcon(basketball-outline, "\e91b");
@include makeIcon(basketball3, "\e91c");
@include makeIcon(basketball4, "\e91d");
@include makeIcon(golf, "\e91e");
@include makeIcon(golf-outline, "\e91f");
@include makeIcon(bowling-pins, "\e920");
@include makeIcon(bowling-pins-outline, "\e921");
@include makeIcon(table-tennis, "\e922");
@include makeIcon(table-tennis-outline, "\e923");
@include makeIcon(baseball, "\e924");
@include makeIcon(baseball-outline, "\e925");
@include makeIcon(football, "\e926");
@include makeIcon(football-outline, "\e927");
@include makeIcon(football2, "\e928");
@include makeIcon(football2-outline, "\e929");
@include makeIcon(volleyball-water, "\e92a");
@include makeIcon(volleyball-water-outline, "\e92b");
@include makeIcon(volleyball, "\e92c");
@include makeIcon(volleyball-outline, "\e92d");
