<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Tourney</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openTournamentPage()" detail-none>
        All Tournaments
      </button>
      <button ion-item (click)="openAccountPage()" detail-none>
        Account
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-nav #content></ion-nav>
