// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Global Helpers

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ion-list {
  ion-label {
    font-style: 1.2rem;
    color: color($colors, medium-dark, base);
  }
}

ion-spinner {
  display: block;
  margin: auto;
}

// Fonts

@font-face {
  font-family: 'FugazOneRegular';
  src: url('../assets/fonts/FugazOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
