<!-- Generated template for the NavbarComponent component -->
<ion-navbar color="primary">
  <ion-title>{{title}}</ion-title>
  <button left menuToggle ion-button="menu-button">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ng-content></ng-content>
</ion-navbar>
