<ion-header>
  <h1>Choose your team</h1>
  <p class="select-later"><a (click)="selectLater()"><i>or select later</i></a></p>
  <ion-searchbar #searchbar
                 (ionInput)="onSearchInput($event)"
                 (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="_divisions | async as divisions; else loading">
    <ion-item-group *ngFor="let division of divisions">
      <ion-item-divider color="light" sticky>
        <ion-label>{{division.gender}}'s {{division.level}}</ion-label>
      </ion-item-divider>
      <ion-item-group *ngFor="let team of division.teams">
        <ion-item icon-end (click)="teamSelected(team)">
          {{ team.title }}
        </ion-item>
      </ion-item-group>
    </ion-item-group>
  </ion-list>
  <ng-template #loading>
    <ion-spinner color="light"></ion-spinner>
  </ng-template>
</ion-content>
