team-select {
  .header {
    h1 {
      font-family: "FugazOneRegular", sans-serif;
      font-size: 28px;
    }

    h1, p:first-of-type, a {
      color: color($colors, light, base);
      text-align: center;
    }

    p:first-of-type{
      margin: 10px;
    }
  }

  .content {
    background-color: color($colors, primary, base);

    .spinner {
      left: 50%;
      top: 10%;
    }

  }
}
