page-pool {
  .box-shadow-bottom {
    box-shadow: 0 2px 4px rgba(0,0,0,.24);
  }
  .item-collapsible {
    transition: line-height .1s, height .1s, min-height .1s;
  }
  .item-collapse {
    line-height: 0;
    min-height: 0;
    height: 0;
  }

}
