<ion-header>
  <scoreboard-navbar [title]="'Pool'"></scoreboard-navbar>
</ion-header>

<ion-content>
  <ion-item-group *ngIf="pool">
    <ion-card ion-item *ngIf="tournament" no-lines class="shadow">
      <ion-thumbnail item-start>
        <img src="{{tournament.image}}"/>
      </ion-thumbnail>
      <h2>{{ tournament.title }}</h2>
      <p *ngIf="tournament.location">{{tournament.location.name}} | {{tournament.location.city}}</p>
      <p>{{tournament.dates | dateRangeDisplay}}</p>
    </ion-card>
    <ion-item no-lines>
      <ion-icon item-start color="dark" name="clipboard"></ion-icon>
      <h2 ion-text>Pool {{pool.title}}</h2>
      <p ion-text>{{pool.teams.length}} Teams <span *ngIf="pool.location.court">| Court {{pool.location.court}}</span>
      </p>
      <p ion-text *ngIf="matchFormat">{{matchFormat}}</p>
    </ion-item>

    <ion-list no-padding no-margin>
      <ion-item-divider color="light" sticky>
        <ion-label item-left>Teams & Results</ion-label>
      </ion-item-divider>

      <ion-item-group ion-row class="box-shadow-bottom">
        <button ion-item no-margin no-padding *ngFor="let team of pool.teams" (click)="teamSelected(team)">
          <ion-label padding-left>{{ team.title }}</ion-label>
          <a ion-text item-end *ngIf="matchResults">{{
            [matchResults[team._id].wins,
            matchResults[team._id].losses] | delim: ' - '}}</a>
        </button>
      </ion-item-group>

    </ion-list>
  </ion-item-group>

  <ion-list *ngIf="pool && pool.matches">
    <ion-item-divider color="light" sticky>
      <ion-label>Schedule</ion-label>
    </ion-item-divider>
    <button ion-item *ngFor="let match of pool.matches" (click)="selectMatch(match)">
      <h3 ion-text>{{match.teams[0].title}} <a ion-text color="primary">vs</a> {{match.teams[1].title}}</h3>
      <p ion-text>
        {{
        [(match.scheduledTime | date:'ha'),
        (match.location ? 'Court ' + match.location.court : null),
        (match.refTeam ? match.refTeam.title : null)] | delim}}
      </p>
      <p ion-text item-end>{{match.gameRecord}}</p>
    </button>
  </ion-list>

</ion-content>
