<ion-header>
  <scoreboard-navbar [title]="Home">
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </scoreboard-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="teamScoreViewModelMap" align-items-center>
      <ion-col col-5 center text-center>
        <p>{{teamScoreViewModelMap[teams[0]].title}}</p>
        <ion-item no-lines no-padding>
          <ion-select
            class="select-score"
            (ionChange)="selectChange()"
            [(ngModel)]="teamScoreViewModelMap[teams[0]].points"
            [selectOptions]="selectOptionsMap[teams[0]]">
            <ion-option *ngFor="let point of selectOptionPoints" [value]="point">{{point}}</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button block (click)="increaseScore(teams[0])">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
        <button ion-button block color="light" (click)="decreaseScore(teams[0])">
          <ion-icon clear name="arrow-down"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 justify-content-center text-center>
        <button ion-button small icon-only outline color="secondary" (click)="onSwitchSides()">
          <ion-icon name="swap"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-5 center text-center>
        <p>{{teamScoreViewModelMap[teams[1]].title}}</p>
        <ion-item no-lines no-padding>
          <ion-select
            class="select-score"
            (ionChange)="selectChange()"
            [(ngModel)]="teamScoreViewModelMap[teams[1]].points"
            [selectOptions]="selectOptionsMap[teams[1]]">
            <ion-option *ngFor="let point of selectOptionPoints" [value]="point">{{point}}</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button block (click)="increaseScore(teams[1])">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
        <button ion-button block color="light" (click)="decreaseScore(teams[1])">
          <ion-icon name="arrow-down"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <button text-center ion-item full [disabled]="isFinal && !changedFinal" color="danger" (click)="onSetFinalScore()">
    <span *ngIf="!isFinal">Set Final Score</span>
    <span *ngIf="isFinal && changedFinal">Update Final Score</span>
    <span *ngIf="isFinal && !changedFinal">Final Score</span>
  </button>
</ion-footer>
