<ion-header>
  <scoreboard-navbar [title]="'Account'"></scoreboard-navbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="_user | async as user; else loadingUser">
    <ion-avatar item-start>
      <img src="{{user.image}}">
    </ion-avatar>
    <h2>{{user.displayName}}</h2>
  </ion-item>
  <ng-template #loadingUser>
    <ion-spinner></ion-spinner>
  </ng-template>

  <ion-list *ngIf="_tournaments | async as tournaments; else loadingTournaments">
    <ion-item-divider>Tournaments and Teams</ion-item-divider>
    <ng-container *ngIf="tournaments.length; else noItems">
      <ion-item-group *ngFor="let tournament of tournaments">
        <button ion-item *ngFor="let team of tournament.teams"
                (click)="tournamentSelected(tournament)">
          <ion-thumbnail item-start>
            <img src="{{tournament.image}}"/>
          </ion-thumbnail>
          <h2>{{ tournament.title }}</h2>
          <p>{{team.title}}</p>
          <p>{{tournament.dates | dateRangeDisplay}}</p>
        </button>
      </ion-item-group>
    </ng-container>
    <ng-template #noItems>
      <p ion-item>No tournaments or teams</p>
    </ng-template>
  </ion-list>
  <ng-template #loadingTournaments>
    <ion-spinner></ion-spinner>
  </ng-template>

  <button ion-button full (click)="logout()" color="light">
    Logout
  </button>
</ion-content>
