<ion-header>
  <scoreboard-navbar [title]="'Tournaments'"></scoreboard-navbar>
</ion-header>

<ion-content>
  <ion-searchbar #searchbar
                 (ionInput)="onSearchInput($event)"
                 (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>
  <ion-list *ngIf="tournamentListViewData | async as tournamentListViewData; else loading">
    <ion-item-group *ngFor="let key of tournamentListViewData | keys">
      <ion-item-divider color="light" *ngIf="tournamentListViewData[key].listItems.length; else noItems">
        {{tournamentListViewData[key].title}}
      </ion-item-divider>
      <ng-template #noItems>
        <ion-item-divider color="light">
          {{tournamentListViewData[key].title}}
        </ion-item-divider>
        <p ion-item>No {{tournamentListViewData[key].title && tournamentListViewData[key].title.toLowerCase()}}
          tournaments</p>
      </ng-template>
      <button ion-item *ngFor="let tournament of tournamentListViewData[key].listItems"
              (click)="tournamentSelected(tournament)" detail-push>
        <ion-thumbnail item-start>
          <img src="{{tournament.image}}">
        </ion-thumbnail>
        <h2>{{ tournament.title }}</h2>
        <p *ngIf="tournament.location">{{tournament.location.name}} | {{tournament.location.city}}</p>
        <p>{{tournament.dates | dateRangeDisplay}}</p>
      </button>
    </ion-item-group>
  </ion-list>
  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>
